/* GOOGLE FONTS */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Arimo-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Arimo-bold';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Arimo-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Arimo-italic';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/Arimo-Italic.ttf) format('truetype');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL */
html, body {
    height: 100%;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body {
	background: #4CB8C4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4CB8C4 , #3CD3AD); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #4CB8C4 , #3CD3AD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
}

.wrapper {
	background: #f7f7f7;
	margin: 0 auto;
	max-width: 600px;
	width: 80%;
}

/* HEADER SECTION */
#inputTodo {
    background: #fafafa;
    border: 4px solid #fafafa;
    color: #333;
	font-family: 'Arimo-bold', sans-serif;
    font-size: 1.313em;
    line-height: 1;
    padding: 0.625em;
    width: 100%;
}

#inputTodo::-webkit-input-placeholder {
   color: #dedede;
}

#inputTodo::-moz-placeholder {  /* Firefox 19+ */
   color: #dedede;  
}

#inputTodo:-ms-input-placeholder {  
   color: #dedede;  
}

textarea:focus, input:focus{
    outline: none;
}

/* TODO LIST */
.completed {
	color: #c3c3c3;
	text-decoration: line-through;
	font-family: 'Arimo-italic', sans-serif;
}

#todo {
	color: #333;
	font-size: 1.125em;
}

#todo li {
	cursor: pointer;
	height: 2.5em;
	line-height: 2.5em;
}

#todo li:nth-child(even) {
	background: #ececec;
}

#delBTN {
    background: #ff3430;
	border: 0;
	cursor: pointer;
    color: #fafafa;
    font-size: 1em;
    height: 2.5em;
    margin: 0 0.625em 0 0;
    opacity: 0;
	outline: 0;
	padding: 0;
	transition: all .3s ease;
	width: 0;
}

#todo li:hover #delBTN {
	opacity: 1;
	width: 2.5em;
}